# codekit #
###########
.sass-cache/
.codekit-config.json
.config.codekit
files/wp-content/themes/esco/assets/scss/.sass-cache/*
files/wp-content/themes/esco/config.codekit
/wp-content/themes/esco/config.codekit


# wpengine #
############
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/mu-plugins/
wp-content/plugins/akismet/
wp-content/plugins/contact-form-7/
wp-content/plugins/gravityforms/
wp-content/plugins/hyperdb/
landing/importbuddy.php
wp-content/plugins/Gravity-Forms-ACF-Field-master/
wp-content/plugins/Network-Terminator-master/
wp-content/plugins/acf-flexible-content/
wp-content/plugins/acf-gallery/
wp-content/plugins/acf-options-page/
wp-content/plugins/acf-repeater/
wp-content/plugins/admin-menu-editor/
wp-content/plugins/advanced-custom-fields/
wp-content/plugins/authors/
wp-content/plugins/avatars/
wp-content/plugins/better-hipchat/
wp-content/plugins/blogs-widget/
wp-content/plugins/blogtemplates/
wp-content/plugins/breadcrumb-navxt/
wp-content/plugins/cbnet-multi-author-comment-notification/
wp-content/plugins/comment-attachment/
wp-content/plugins/comment-indexer/
wp-content/plugins/comments-control/
wp-content/plugins/custom-taxonomies-menu-widget/
wp-content/plugins/dashboard-widgets-order/
wp-content/plugins/disable-feeds/
wp-content/plugins/duplicate-post/
wp-content/plugins/enable-oembed-discovery/
wp-content/plugins/facetwp/
wp-content/plugins/force-user-login/
wp-content/plugins/gravity-forms-custom-post-types/
wp-content/plugins/hipchat/
wp-content/plugins/htmlemail/
wp-content/plugins/intuitive-custom-post-order/
wp-content/plugins/list-custom-taxonomy-widget/
wp-content/plugins/live-edit/
wp-content/plugins/login-mods/
wp-content/plugins/login-redirect/
wp-content/plugins/logout-redirect/
wp-content/plugins/multi-site-site-list-shortcode/
wp-content/plugins/multisite-admin-bar-tweaks/
wp-content/plugins/multisite-content-copier/
wp-content/plugins/network-privacy/
wp-content/plugins/peters-login-redirect/
wp-content/plugins/post-indexer/
wp-content/plugins/private-only/
wp-content/plugins/recent-comments/
wp-content/plugins/recent-global-author-posts-feed/
wp-content/plugins/recent-global-comments-widget/
wp-content/plugins/recent-global-posts-feed/
wp-content/plugins/recent-global-posts-widget/
wp-content/plugins/recent-posts/
wp-content/plugins/recent_custom_post_type/
wp-content/plugins/remember-me-checked/
wp-content/plugins/responsive-lightbox/
wp-content/plugins/site-categories/
wp-content/plugins/site-wide-text-change/
wp-content/plugins/sitewide-privacy-options/
wp-content/plugins/tag-feed/
wp-content/plugins/tmm-dashboard-customizations-master/
wp-content/plugins/tmm-maintanence-mode-master/
wp-content/plugins/ultimate-branding/
wp-content/plugins/unfiltered-yelp-reviews/
wp-content/plugins/user-activity/
wp-content/plugins/user-switching/
wp-content/plugins/what-template-file-am-i-viewing/
wp-content/plugins/wordpress-importer/
wp-content/plugins/wordpress-mu-sitewide-tags/
wp-content/plugins/wp-require-login/
wp-content/plugins/wp-user-avatar/
wp-content/plugins/wpmudev-updates/
wp-content/themes/twentyfourteen/
wp-content/plugins/json-api/
wp-content/plugins/wp-ajaxify-comments/
wp-content/plugins/wp-migrate-db-pro/


# local self-signed certificate for MAMP PRO
mightylucy.dev.crt
mightylucy.dev.key

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mysql.sql

# wp core (as of 3.4.1)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
/wp-content/themes/index.php
/wp-content/plugins/index.php
/wp-content/themes/twentyfifteen

# site environment variants
.htaccess
htaccess

# database search-and-replace folder
/snr

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
